{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": ["Explorer 10"]
                },
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "lodash",
        [
            "@babel/plugin-transform-runtime",
            { "corejs": 3, "helpers": true, "regenerator": true, "useESModules": true }
        ],
        [
            "babel-plugin-styled-components",
            {
                "ssr": false,
                "minify": false,
                "transpileTemplateLiterals": false
            }
        ],
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from"
    ]
}
